&disgord.GuildCreate{
    Guild: &disgord.Guild{
        ID:                          0xb8732c65a52002a,
        ApplicationID:               0x0,
        Name:                        "bytecord-testing",
        Icon:                        "",
        Splash:                      "",
        Owner:                       false,
        OwnerID:                     0x2f12eec31c20002,
        Permissions:                 0x0,
        Region:                      "us-east",
        AfkChannelID:                0x0,
        AfkTimeout:                  0x12c,
        VerificationLevel:           0x3,
        DefaultMessageNotifications: 0x1,
        ExplicitContentFilter:       0x0,
        Roles:                       {
            &disgord.Role{ID:0xb8732c65a52002a, Name:"@everyone", Color:0x0, Hoist:false, Position:0, Permissions:0x18225ce41, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a52002b, Name:"tester ⚠", Color:0x2f9fe5, Hoist:false, Position:1, Permissions:0x180000000, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a52002c, Name:"G  A  M  E  R ⚙", Color:0x1e992e, Hoist:false, Position:2, Permissions:0x180000000, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a52002d, Name:"programmer/tech ⚙", Color:0x9b6b4d, Hoist:false, Position:3, Permissions:0x180000000, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a52002e, Name:"car fanatic ⚙", Color:0xb60000, Hoist:false, Position:4, Permissions:0x180000000, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a52002f, Name:"verified ✔", Color:0x1abc9c, Hoist:false, Position:5, Permissions:0x180000000, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a520030, Name:"bots", Color:0x2ecc71, Hoist:true, Position:6, Permissions:0x180000000, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a520031, Name:"berzerkers", Color:0x9b59b6, Hoist:true, Position:7, Permissions:0x180c02006, Managed:false, Mentionable:true, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c65a520032, Name:"warlords", Color:0xc27c0e, Hoist:true, Position:8, Permissions:0x18dc22006, Managed:false, Mentionable:true, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c6724e0028, Name:"🦨 TIME OUT 🦨", Color:0xf020ff, Hoist:true, Position:9, Permissions:0x180000000, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xb8732c6724e0029, Name:"@overlord", Color:0xe74c3c, Hoist:true, Position:10, Permissions:0x1fff7ffff, Managed:false, Mentionable:false, guildID:0xb8732c65a52002a},
            &disgord.Role{ID:0xba35c1c62c4003d, Name:"spectrograph-dev", Color:0x0, Hoist:false, Position:1, Permissions:0x100410, Managed:true, Mentionable:false, guildID:0xb8732c65a52002a},
        },
        Emojis: {
        },
        Features:        {},
        MFALevel:        0x0,
        WidgetEnabled:   false,
        WidgetChannelID: 0x0,
        SystemChannelID: 0xb8732c69ac60019,
        JoinedAt:        &disgord.Time{
            Time: time.Time{
                wall: 0xbb26a50,
                ext:  63755608652,
                loc:  &time.Location{
                    name:       "UTC",
                    zone:       nil,
                    tx:         nil,
                    cacheStart: 0,
                    cacheEnd:   0,
                    cacheZone:  (*time.zone)(nil),
                },
            },
        },
        Large:       false,
        Unavailable: false,
        MemberCount: 0x2,
        VoiceStates: {
        },
        Members: {
            &disgord.Member{
                GuildID: 0xb8732c65a52002a,
                User:    &disgord.User{
                    ID:            0xb7528dd0ad20000,
                    Username:      "spectrograph-dev",
                    Discriminator: 0x820,
                    Avatar:        "3742e4430a96ec4b9eaf20b3bd00c929",
                    Bot:           true,
                    System:        false,
                    MFAEnabled:    false,
                    Locale:        "",
                    Verified:      false,
                    Email:         "",
                    Flags:         0x0,
                    PremiumType:   0,
                    PublicFlags:   0x0,
                    PartialMember: (*disgord.Member)(nil),
                },
                Nick:     "",
                Roles:    {0xba35c1c62c4003d},
                JoinedAt: disgord.Time{
                    Time: time.Time{
                        wall: 0xbb26a50,
                        ext:  63755608652,
                        loc:  &time.Location{
                            name:       "UTC",
                            zone:       nil,
                            tx:         nil,
                            cacheStart: 0,
                            cacheEnd:   0,
                            cacheZone:  (*time.zone)(nil),
                        },
                    },
                },
                PremiumSince: disgord.Time{},
                Deaf:         false,
                Mute:         false,
                Pending:      false,
                UserID:       0xb7528dd0ad20000,
            },
        },
        Channels: {
            &disgord.Channel{
                ID:                   0xb8732c69ac60018,
                Type:                 0x4,
                GuildID:              0xb8732c65a52002a,
                Position:             3,
                PermissionOverwrites: {
                    {ID:0xb8732c65a52002f, Type:0x0, Allow:0x100400, Deny:0x0},
                },
                Name:             "💬 GENERAL CHANNELS",
                Topic:            "",
                NSFW:             false,
                LastMessageID:    0x0,
                Bitrate:          0x0,
                UserLimit:        0x0,
                RateLimitPerUser: 0x0,
                Recipients:       {
                },
                Icon:             "",
                OwnerID:          0x0,
                ApplicationID:    0x0,
                ParentID:         0x0,
                LastPinTimestamp: disgord.Time{},
            },
            &disgord.Channel{
                ID:                   0xb8732c69ac60019,
                Type:                 0x0,
                GuildID:              0xb8732c65a52002a,
                Position:             4,
                PermissionOverwrites: {
                    {ID:0xb8732c65a52002a, Type:0x0, Allow:0x0, Deny:0x0},
                    {ID:0xb8732c65a52002f, Type:0x0, Allow:0x100400, Deny:0x0},
                },
                Name:             "general",
                Topic:            "general chatting channel",
                NSFW:             false,
                LastMessageID:    0xba35c1c7d020028,
                Bitrate:          0x0,
                UserLimit:        0x0,
                RateLimitPerUser: 0x0,
                Recipients:       {
                },
                Icon:             "",
                OwnerID:          0x0,
                ApplicationID:    0x0,
                ParentID:         0xb8732c69ac60018,
                LastPinTimestamp: disgord.Time{},
            },
            &disgord.Channel{
                ID:                   0xb8732c6a74c0036,
                Type:                 0x4,
                GuildID:              0xb8732c65a52002a,
                Position:             13,
                PermissionOverwrites: {
                    {ID:0xb8732c65a52002a, Type:0x0, Allow:0x0, Deny:0x400},
                    {ID:0xb8732c65a52002c, Type:0x0, Allow:0x100400, Deny:0x0},
                    {ID:0xb8732c6724e0028, Type:0x0, Allow:0x100000, Deny:0x10c00},
                },
                Name:             "🎮 GAMING CHANNELS",
                Topic:            "",
                NSFW:             false,
                LastMessageID:    0x0,
                Bitrate:          0x0,
                UserLimit:        0x0,
                RateLimitPerUser: 0x0,
                Recipients:       {
                },
                Icon:             "",
                OwnerID:          0x0,
                ApplicationID:    0x0,
                ParentID:         0x0,
                LastPinTimestamp: disgord.Time{},
            },
            &disgord.Channel{
                ID:                   0xb8732c6a74c0037,
                Type:                 0x0,
                GuildID:              0xb8732c65a52002a,
                Position:             14,
                PermissionOverwrites: {
                    {ID:0xb8732c65a52002a, Type:0x0, Allow:0x0, Deny:0x400},
                    {ID:0xb8732c65a52002c, Type:0x0, Allow:0x100400, Deny:0x0},
                    {ID:0xb8732c6724e0028, Type:0x0, Allow:0x100000, Deny:0x10c00},
                },
                Name:             "game-general",
                Topic:            "",
                NSFW:             false,
                LastMessageID:    0x0,
                Bitrate:          0x0,
                UserLimit:        0x0,
                RateLimitPerUser: 0x0,
                Recipients:       {
                },
                Icon:             "",
                OwnerID:          0x0,
                ApplicationID:    0x0,
                ParentID:         0xb8732c6a74c0036,
                LastPinTimestamp: disgord.Time{},
            },
            &disgord.Channel{
                ID:                   0xb8732c6a74c0038,
                Type:                 0x2,
                GuildID:              0xb8732c65a52002a,
                Position:             15,
                PermissionOverwrites: {
                    {ID:0xb8732c65a52002a, Type:0x0, Allow:0x0, Deny:0x400},
                    {ID:0xb8732c65a52002c, Type:0x0, Allow:0x100400, Deny:0x0},
                    {ID:0xb8732c6724e0028, Type:0x0, Allow:0x100000, Deny:0x10c00},
                },
                Name:             "🎮 game shit +",
                Topic:            "",
                NSFW:             false,
                LastMessageID:    0x0,
                Bitrate:          0xfa00,
                UserLimit:        0x6,
                RateLimitPerUser: 0x0,
                Recipients:       {
                },
                Icon:             "",
                OwnerID:          0x0,
                ApplicationID:    0x0,
                ParentID:         0xb8732c6a74c0036,
                LastPinTimestamp: disgord.Time{},
            },
        },
        Presences: {
        },
    },
    ShardID: 0x0,
}
